@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.shadow-1 {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.shadow-2 {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-line::before,
.card-line::after {
    border-style: none;
}

.select-no-border {
  border: none;
}
